name: "Thread Service CI"

on:
  pull_request:
    branches:
      - main
    paths:
      - "app/thread-service/**"

jobs:
  build:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: "app/thread-service"
    name: Build
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "8.0.x"
          dotnet-quality: 'preview'
      - run: dotnet build
